/*Font Family*/
@font-face {
  font-family: brand-font;
  src: url(./Fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}
@font-face {
  font-family: text-font;
  src: url(./Fonts/63cffc20aa8997095067596f_Satoshi-Light.woff);
}
@font-face {
  font-family: text-font-2;
  src: url(./Fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  /*Navbar*/
  /*Image div*/
  /*Second section*/
}
main header {
  width: 100%;
}
main header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  font-family: text-font;
}
main header nav h1 {
  color: #e2e0e0;
  font-size: 1.5rem;
}
main header nav .cart {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main header nav .cart .text {
  font-family: text-font;
  background-color: #cebd63;
  color: #1e1e1e;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.5rem;
  letter-spacing: 0.2rem;
}
main header nav .cart .icon {
  background-color: #1e1e1e;
  color: #e2e0e0;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
}
@media (min-width: 1000px) {
  main h1 {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
  }
}
main .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
main .top figure {
  width: 100%;
}
main .top figure img {
  width: 100%;
  border-radius: 0.5rem;
}
main .top .second {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.8rem;
  background-color: #1e1e1e;
  border-radius: 0.5rem;
  font-family: brand-font;
  color: #fff;
}
main .top .second h1 {
  font-size: 1rem;
}
main .top .second p {
  text-transform: uppercase;
  font-size: 2.1rem;
  gap: 2rem;
}
main .top .second .para p {
  text-transform: capitalize;
  font-size: 1rem;
  color: #989794;
}
main .top .second .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
main .top .second .btn button {
  background-color: #1e1e1e;
  border-radius: 50%;
  padding: 0.4rem;
  border: 0.1em solid #fffefe;
  color: #fffefe;
}
main .top .second .btn p {
  font-size: 1rem;
}
main .center {
  display: flex;
  flex-direction: column;
}
main .center .top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
main .center .top .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: text-font-2;
}
main .center .top .content small {
  color: #fff;
  opacity: 0.5;
  font-size: 1rem;
}
main .center .top .content p {
  text-align: center;
  color: #fff;
  opacity: 1;
}
main .view-1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
main .view-1 img {
  width: 100%;
  border-radius: 0.5rem;
}
main .view-1 .view-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: #1e1e1e;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
main .view-1 .view-content h1 {
  font-size: 1rem;
  font-family: text-font-2;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.7;
}
main .view-1 .view-content .para {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view-1 .view-content .para h2 {
  text-transform: uppercase;
  font-family: text-font;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  color: #fff;
  opacity: 0.8;
}
main .view-1 .view-content .para .text-1 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
main .view-1 .view-content .para .text-1 p {
  color: #fff;
  font-family: text-font;
  opacity: 0.5;
}
main .view-2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
main .view-2 img {
  width: 100%;
  border-radius: 0.5rem;
}
main .view-2 .view-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: #1e1e1e;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
main .view-2 .view-content h1 {
  font-size: 1rem;
  font-family: text-font-2;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1rem;
  opacity: 0.7;
}
main .view-2 .view-content .para {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view-2 .view-content .para h2 {
  text-transform: uppercase;
  font-family: text-font;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  color: #fff;
  opacity: 0.8;
}
main .view-2 .view-content .para .text-1 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
main .view-2 .view-content .para .text-1 p {
  color: #fff;
  font-family: text-font;
  opacity: 0.5;
}
main .text {
  color: #e2e0e0;
  font-family: brand-font;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1rem;
}
main section.view-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  /*Card-1*/
  /*Card-2*/
  /*Card-3*/
}
main section.view-3 .card {
  width: 100%;
  background-image: url("./Images/four.webp");
  aspect-ratio: 1/1;
  background-size: cover;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
main section.view-3 .card .circular,
main section.view-3 .card .content {
  background-color: rgba(84, 84, 84, 0.375);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  font-size: 1rem;
  text-transform: uppercase;
  color: #fffefe;
  font-family: brand-font;
  border: 0.5px solid rgba(255, 255, 255, 0.575);
  padding: 0.7rem;
  border-radius: 0.5rem;
}
main section.view-3 .card .icons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
main section.view-3 .card .circular {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
}
main section.view-3 .card .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0.6rem;
  font-size: 1.3rem;
  border-radius: 0.3rem;
}
main section.view-3 .card .content .text {
  font-family: text-font-2;
  font-size: 1rem;
}
main section.view-3 .card-2 {
  width: 100%;
  background-image: url("./Images/five.webp");
  aspect-ratio: 1/1;
  background-size: cover;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
main section.view-3 .card-2 .circular,
main section.view-3 .card-2 .content {
  background-color: rgba(84, 84, 84, 0.375);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  font-size: 1rem;
  text-transform: uppercase;
  color: #fffefe;
  font-family: brand-font;
  border: 0.5px solid rgba(255, 255, 255, 0.575);
  padding: 0.7rem;
  border-radius: 0.5rem;
}
main section.view-3 .card-2 .icons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
main section.view-3 .card-2 .circular {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
}
main section.view-3 .card-2 .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0.6rem;
  font-size: 1.3rem;
  border-radius: 0.3rem;
}
main section.view-3 .card-2 .content .text {
  font-family: text-font-2;
  font-size: 1rem;
}
main section.view-3 .card-3 {
  width: 100%;
  background-image: url("./Images/six.webp");
  aspect-ratio: 1/1;
  background-size: cover;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
main section.view-3 .card-3 .circular,
main section.view-3 .card-3 .content {
  background-color: rgba(84, 84, 84, 0.375);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  font-size: 1rem;
  text-transform: uppercase;
  color: #fffefe;
  font-family: brand-font;
  border: 0.5px solid rgba(255, 255, 255, 0.575);
  padding: 0.7rem;
  border-radius: 0.5rem;
}
main section.view-3 .card-3 .icons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
main section.view-3 .card-3 .circular {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
}
main section.view-3 .card-3 .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0.6rem;
  font-size: 1.3rem;
  border-radius: 0.3rem;
}
main section.view-3 .card-3 .content .text {
  font-family: text-font-2;
  font-size: 1rem;
}
main .view-3 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
main .view-3 img {
  width: 100%;
  border-radius: 0.5rem;
  opacity: 0.7;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view-3 .view-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1e1e1e;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.5rem;
}
main .view-3 .view-content h1 {
  color: #e2e0e0;
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: text-font-2;
  letter-spacing: 0.1rem;
  font-weight: 400;
}
main .view-3 .view-content .para {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main .view-3 .view-content .para h2 {
  font-family: brand-font;
  font-weight: 400;
  color: #fffefe;
  text-transform: uppercase;
  text-align: justify;
  font-size: 2rem;
  opacity: 0.8;
}
main .view-3 .view-content .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
main .view-3 .view-content .btn button {
  padding: 0.6rem;
  border-radius: 50%;
  border: 0.1rem solid #fff;
  background-color: #282626;
  color: #fff;
  cursor: pointer;
}
main .view-3 .view-content .btn button i {
  font-size: 1rem;
}
main .view-3 .view-content .btn p {
  text-transform: uppercase;
  font-family: text-font-2;
  font-size: 1rem;
  color: #fffefe;
}
main .contact {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
main .contact .top {
  background-color: #cebd63;
  border-radius: 1rem;
  gap: 2rem;
}
main .contact .top h3 {
  font-family: text-font;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
}
main .contact .top p {
  font-family: brand-font;
  text-transform: uppercase;
  font-size: 2.5rem;
}
main .contact .top .btn {
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}
main .contact .top .btn p {
  padding: 1rem;
  color: #e2e0e0;
  border: none;
  font-size: 1rem;
  font-family: text-font-2;
}

/*Main*/
@media (min-width: 1000px) {
  main {
    /*Center section*/
  }
  main .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    gap: 1rem;
  }
  main .top figure {
    width: 50%;
    border-radius: 0.5rem;
  }
  main .top figure img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }
  main .top .second {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 3rem;
    background-color: #1e1e1e;
    border-radius: 0.5rem;
    font-family: brand-font;
    color: #fff;
  }
  main .top .second h1 {
    font-size: 1rem;
    margin-left: 0.1rem;
  }
  main .top .second p {
    text-transform: uppercase;
    font-size: 4.1rem;
  }
  main .top .second .para {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    text-transform: capitalize;
  }
  main .top .second .para p {
    font-size: 1.2rem;
    color: #989794;
  }
  main .center {
    flex-direction: row;
  }
  main .center .top {
    flex-direction: row;
    justify-content: space-around;
  }
  main .center .top .content {
    flex-direction: column;
    gap: 0.5rem;
    font-family: text-font-2;
  }
  main .center .top .content small {
    color: #fff;
    opacity: 0.5;
    font-size: 1rem;
  }
  main .center .top .content p {
    text-align: center;
    color: #fff;
    opacity: 1;
    font-size: 2.5rem;
    font-family: brand-font;
  }
  main .view-1 {
    flex-direction: row-reverse;
    width: 100%;
    gap: 0.8rem;
  }
  main .view-1 figure {
    width: 50%;
  }
  main .view-1 figure img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    aspect-ratio: 1;
  }
  main .view-1 .view-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    background-color: #1e1e1e;
    border-radius: 0.5rem;
    padding: 1.5rem;
  }
  main .view-1 .view-content h1 {
    font-size: 1rem;
    font-family: text-font-2;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.7;
    margin-left: 1rem;
  }
  main .view-1 .view-content .para {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 1rem;
  }
  main .view-1 .view-content .para h2 {
    text-transform: uppercase;
    font-family: text-font;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    color: #fff;
    opacity: 0.8;
  }
  main .view-1 .view-content .para p {
    color: #fff;
    font-family: text-font;
    opacity: 0.5;
    font-size: 1.3rem;
  }
  main .view-2 {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }
  main .view-2 figure {
    width: 50%;
  }
  main .view-2 figure img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }
  main .view-2 .view-content {
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    background-color: #1e1e1e;
    border-radius: 0.5rem;
    padding: 1.5rem;
  }
  main .view-2 .view-content h1 {
    font-size: 1rem;
    font-family: text-font-2;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1rem;
    opacity: 0.7;
    margin-left: -0.1rem;
  }
  main .view-2 .view-content .para {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  main .view-2 .view-content .para h2 {
    text-transform: uppercase;
    font-family: text-font;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    color: #fff;
    opacity: 0.8;
  }
  main .view-2 .view-content .para p {
    color: #fff;
    font-family: text-font;
    opacity: 0.5;
    letter-spacing: 0.1rem;
  }
  main section.view-3 {
    flex-direction: row;
  }
  main .view-3 {
    width: 100%;
  }
  main .view-3 figure {
    width: 50%;
  }
  main .view-3 .view-content {
    width: 50%;
  }
  main .view-3 .view-content .para h2 {
    text-align: left;
    padding: 1.5rem;
  }
  main .view-3 .view-content .btn {
    padding: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */